[push]
  default = matching
[core]
  trustctime = false
  editor = nvim
  filemode = false
  excludesfile = ~/.gitignore_global
  autocrlf = input
  pager = delta
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[color]
  ui = true
[credential]
  helper = store
[merge]
  tool = vimdiff
[mergetool]
  keeptemporaries = false
  keepbackups = false
  prompt = false
  trustexitcode = false
[alias]
  last = log -1 --stat
  cp = cherry-pick
  co = checkout
  cl = clone
  ci = commit
  st = status -sb
  br = branch
  unstage = reset HEAD --
  dc = diff --cached
  # Example
  # git zip [branch_name
  zip = archive --format=tar.gz -o ../repo.tar.gz
  wip = for-each-ref --sort='authordate:iso8601' --format=' %(color:green)%(authordate:relative)%09%(color:white)%(refname:short)' refs/heads
[user]
  email = danielveragi@gmail.com
  name = danielVg
  username = daniel-vera-g
  signingkey = CEBBD7D13F1E01E3
[oh-my-zsh]
  hide-status = 1
[commit]
  gpgsign = false
[tag]
  forceSignAnnotated = true
[gpg]
  program = gpg2
[delta]
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Dracula
  line-numbers = true
  side-by-side = true
  features = unobtrusive-line-numbers decorations
  whitespace-error-style = 22 reverse
[interactive]
  diffFilter = delta --color-only
[delta "unobtrusive-line-numbers"]
  line-numbers = true
  line-numbers-minus-style = "#444444"
  line-numbers-zero-style = "#444444"
  line-numbers-plus-style = "#444444"
  line-numbers-left-format = "{nm:>4}┊"
  line-numbers-right-format = "{np:>4}│"
  line-numbers-left-style = blue
  line-numbers-right-style = blue
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = yellow box
[diff]
  colorMoved = default
[http]
  postbuffer = 2097152000 # Cause: https://stackoverflow.com/questions/54967927/error-rpc-failed-curl-55-the-requested-url-returned-error-401-when-pushing-to
