# ------ System -----

# Source globals for gitlab-cli(Not to be commitet)
source ~/.gitlab-cli-globals

# User configuration
export PATH=$HOME/bin:/usr/local/bin:$PATH
 
 # Path to your oh-my-zsh installation.
export ZSH=$HOME/.oh-my-zsh

# GPG Agent Needed to get git signing commits working Source: https://www.gnupg.org/documentation/manuals/gnupg/Invoking-GPG_002dAGENT.html
export GPG_TTY=$(tty)

# nnn file manager
# source $HOME/quitcd.zsh
export NNN_TMPFILE="/tmp/nnn"
export NNN_NOTE='/home/dvg/Desktop/running-list.txt'
export NNN_SHOW_HIDDEN=1

# System defaults
export NNN_CONTEXT_COLORS='1234'
export NNN_USE_EDITOR=1

# Path to your dotfiles installation.
export DOTFILES=$HOME/dotfiles

# Make vim the default editor.
export EDITOR='nvim';

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Better FZF search experience
export FZF_DEFAULT_COMMAND='rg --files --follow --hidden'

# ------ Development environments -----

# pyenv
export PATH="/home/dvg/.pyenv/bin:$PATH"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"

# Go
export GOPATH=$HOME/workspace/go
export GOBIN=$HOME/workspace/go/bin
export PATH="$PATH":"/usr/local/go/bin:$GOPATH/bin"

# Flutter path
export PATH="$PATH:/home/dvg/workspace/mobile/flutter/bin"
export PATH="$PATH":"$HOME/workspace/mobile/flutter/.pub-cache/bin"

# Dart
export PATH="$PATH:/usr/lib/dart/bin"
# export PATH="/home/dvg/.pub-cache/bin:$PATH"
export PATH="$PATH:$HOME/.pub-cache/bin"
