" General editor config:
set relativenumber number
set ignorecase
set smartcase
set scrolloff=3 " 3 lines above/below cursor when scrolling
let mapleader = ","

" Emulated Plugins:
set surround
set commentary
set highlightedyank
set NERDTree

" Vim <-> System related configs:
" Copy to system clipboard as well
set clipboard+=unnamed

" Jetbrains related:
" Use Idea to join lines smartly
set ideajoin
" Multiple cursors support
set multiple-cursors
" Terminal
nmap <leader>T :action ActivateTerminalToolWindow<cr>
" External GVim
nmap <leader>v :action Tool_External Tools_gvim<cr>
" Search
nmap <leader>/ :action Find<cr>
nmap <leader>\ :action FindInPath<cr>
" Building, Running and Debugging
nmap ,c :action CompileDirty<cr>
nmap ,r :action Run<cr>
nmap ,R :action RunAnything<cr>
nmap ,b :action Debug<cr>
nmap ,c :action RunClass<cr>
nmap ,d :action DebugClass<cr>
nmap ,t :action RerunTests<cr>
nmap ,T :action RerunFailedTests<cr>

" Inspiration from: https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
